# Difference Aanalysis

Here I am going to present the result for difference analysis. Since we do not have good results based on PCA. There is an idea to check the status of the PWP gorup for finding out what is the effect of parkinson treamtment on them. For this purpose I am going to distinguish the data for patinets. Obsever the effect of daily recorded information for them before and after treamtent to come up with the explanasion on the treatment effect.

In [2]:
# Import pandas for using Data Frames
import pandas as pd
# Import os for working with the files.
import os
# Import numpy for working with the arrays
import numpy as np
# Import date time to convert timestamp to the datetime object
from datetime import datetime

Now lets read the extracted feature file into a dataframe

In [3]:
# TODO Read the data.
# Set the file path
features_file_path = os.path.join(os.getcwd(),"voice_feature_extraction.csv")
# Read the file into a DataFrame
features_df = pd.read_csv(features_file_path)

# Keep tracking of the rows that needed to be removed
labels = []
for index,row in features_df.iterrows():
    if row['medTimepoint'] == "I don't take Parkinson medications":
        features_df.at[index,'medTimepoint'] = 0
    elif row['medTimepoint'] == "Immediately before Parkinson medication":
        features_df.at[index,'medTimepoint'] = 1
    elif row['medTimepoint'] == "Just after Parkinson medication (at your best)":
        features_df.at[index,'medTimepoint'] = 2
    elif row['medTimepoint'] == "Another time":
        features_df.at[index,'medTimepoint'] = 3
    else:
        labels.append(index)
    features_df.at[index,'createdOn'] = datetime.fromtimestamp(row['createdOn']/1000.0)
# Drop all the rows that are not properly annotated
features_df = features_df.drop(labels=labels, axis=0)
# Display the pulished Data frame
display(features_df)

,healthCode,audio_audio,medTimepoint,createdOn
0,e518e2ad-5a48-41a7-8143-2997cb32b678,5836266,0,2015-06-22 23:35:05
1,e518e2ad-5a48-41a7-8143-2997cb32b678,5836313,0,2015-06-22 23:55:42
2,e518e2ad-5a48-41a7-8143-2997cb32b678,5832089,0,2015-06-22 23:56:08
3,e5bb566a-9f26-496f-89be-f940162a536c,5837127,1,2015-04-18 10:53:04
4,e5bb566a-9f26-496f-89be-f940162a536c,5831572,2,2015-04-18 13:05:22
...,...,...,...,...
2360,ffab2631-dfe1-4f5e-bd9e-f763e8aede19,5538484,1,2015-07-15 07:09:09
2361,ffab2631-dfe1-4f5e-bd9e-f763e8aede19,5545712,2,2015-07-16 07:06:02
2362,ffe9fec0-e3c6-44b2-8b4f-8f6f772b99c3,5910424,1,2015-04-24 05:11:13
2363,ffe9fec0-e3c6-44b2-8b4f-8f6f772b99c3,5925740,1,2015-04-26 17:57:27
2364,ffe9fec0-e3c6-44b2-8b4f-8f6f772b99c3,5921028,1,2015-04-26 17:57:52

Lets separate the for the healthCode and remove the duplications

In [5]:
# After Medication
healthCode_pd = pd.DataFrame(features_df['healthCode']).drop_duplicates()
display(helathCodes)

                                healthCode
0     e518e2ad-5a48-41a7-8143-2997cb32b678
3     e5bb566a-9f26-496f-89be-f940162a536c
16    e64e4bd3-0209-4f60-a6bf-8132239090bd
25    e67c8b17-09c4-40d6-92db-efbcd58d155e
32    e697c56e-1b27-4d60-a346-8d8407c1601c
...                                    ...
2213  ff47510c-140c-45de-ba42-19a227007b33
2214  ff699dbc-26d4-4dae-8c34-d0fb7b96ae21
2219  ff776fbd-45ad-491b-ba6d-67a74f62c434
2220  ffab2631-dfe1-4f5e-bd9e-f763e8aede19
2362  ffe9fec0-e3c6-44b2-8b4f-8f6f772b99c3

[68 rows x 1 columns]

Lets suft the list based on the `healthcode` to find out the time differences.

In [67]:
# Record all the healthCode that user recorded the information in differnt times 
active_healthCode_list = []
for index, row in healthCode_pd.iterrows():
    temp_pf = features_df[features_df['healthCode'] == row['healthCode']]
    
    temp_day = temp_label = -1
    for index1, row1 in temp_pf.iterrows():
        if temp_day == -1 and temp_label == -1:
            # Set the temp day and temp label to the first record
            temp_day = row1['createdOn'].day
            temp_label = int(row1['medTimepoint'])
            continue
        if row1['createdOn'].day == temp_day:
            # Check the labels
            if temp_label != row1['medTimepoint']:
                # Add the healthCode to the list
                active_healthCode_list.append(row['healthCode'])
                # break the loop
                break
            else:
                # Change the temperaray records and start again
                temp_day = row1['createdOn'].day
                temp_label = int(row1['medTimepoint'])
                continue

print (f'From the all available {len(healthCode_pd)} healtCode. we can use only {len(active_healthCode_list)} of them.')
display(features_df)

From the all available 68 healtCode. we can use only 14 of them.

,healthCode,audio_audio,medTimepoint,createdOn
0,e518e2ad-5a48-41a7-8143-2997cb32b678,5836266,0,2015-06-22 23:35:05
1,e518e2ad-5a48-41a7-8143-2997cb32b678,5836313,0,2015-06-22 23:55:42
2,e518e2ad-5a48-41a7-8143-2997cb32b678,5832089,0,2015-06-22 23:56:08
3,e5bb566a-9f26-496f-89be-f940162a536c,5837127,1,2015-04-18 10:53:04
4,e5bb566a-9f26-496f-89be-f940162a536c,5831572,2,2015-04-18 13:05:22
...,...,...,...,...
2360,ffab2631-dfe1-4f5e-bd9e-f763e8aede19,5538484,1,2015-07-15 07:09:09
2361,ffab2631-dfe1-4f5e-bd9e-f763e8aede19,5545712,2,2015-07-16 07:06:02
2362,ffe9fec0-e3c6-44b2-8b4f-8f6f772b99c3,5910424,1,2015-04-24 05:11:13
2363,ffe9fec0-e3c6-44b2-8b4f-8f6f772b99c3,5925740,1,2015-04-26 17:57:27
2364,ffe9fec0-e3c6-44b2-8b4f-8f6f772b99c3,5921028,1,2015-04-26 17:57:52

Lets now work on the limited healthCodes. But I am going to apply a limitation. I am looking for the records that the first label is `1` and the second is `2`:

In [66]:
record_list = []
for healthCode in active_healthCode_list:
    # Filter the data to the specific healthCode
    temp_pf = features_df[features_df['healthCode'] == healthCode]
    temp_day = temp_label = -1
    temp_record = None
    
    for index, row in temp_pf.iterrows():
        if temp_day == -1 and temp_label == -1:
            # Set the temp day and temp label to the first record
            temp_day = row['createdOn'].day
            temp_label = int(row['medTimepoint'])
            temp_record = row
            # Continue to the next record
            continue

        # Check the records belong to the same day
        if row['createdOn'].day == temp_day:
            # If yes check if the label is one or two
            if (temp_label == 1 and row['medTimepoint']==2) or (temp_label == 2 and row['medTimepoint']==1):
                #Record both iterms as valid
                record_list.append(temp_record)
                record_list.append(row)
                # Reset the temp records
                temp_day = temp_label = -1
                temp_record = None
                # Continue to the next record            
                continue
            else:
                # Update the temp recordsR
                temp_day = row['createdOn'].day
                temp_label = int(row['medTimepoint'])
                temp_record = row
                # Continue to the next record            
                continue

Lets create a Pandas DataFrame based no this:

In [78]:
pwp_pd = pd.DataFrame(data=record_list, columns=['healthCode',
                                                 'audio_audio',
                                                 'medTimepoint',
                                                 'createdOn'])
display(temp_pd)

,healthCode,audio_audio,medTimepoint,createdOn
3,e5bb566a-9f26-496f-89be-f940162a536c,5837127,1,2015-04-18 10:53:04
4,e5bb566a-9f26-496f-89be-f940162a536c,5831572,2,2015-04-18 13:05:22
32,e697c56e-1b27-4d60-a346-8d8407c1601c,5925353,2,2015-03-16 08:30:51
33,e697c56e-1b27-4d60-a346-8d8407c1601c,5905670,1,2015-03-16 18:02:13
1204,ec5dd8db-c41e-4879-8bfb-c26eacc64f42,5914840,2,2015-04-25 13:46:43
1205,ec5dd8db-c41e-4879-8bfb-c26eacc64f42,5913778,1,2015-04-25 18:33:49
1211,ec822b07-4b4b-4117-9f7d-7e92e0fee1d3,5832798,2,2015-06-22 09:05:59
1212,ec822b07-4b4b-4117-9f7d-7e92e0fee1d3,5832695,1,2015-06-22 16:36:33
1296,edfab0c7-6bd1-424e-b459-6417c5a726fe,5450886,2,2015-03-10 11:13:08
1297,edfab0c7-6bd1-424e-b459-6417c5a726fe,5412990,1,2015-03-10 19:32:43
1709,f690974e-8179-4564-ab89-1302590861c4,5790366,2,2015-04-15 16:11:24
1777,f690974e-8179-4564-ab89-1302590861c4,6096305,1,2015-06-15 00:45:31
1779,f690974e-8179-4564-ab89-1302590861c4,6097352,1,2015-06-15 00:46:21
1780,f690974e-8179-4564-ab89-1302590861c4,5796911,2,2015-06-15 17:44:07
1835,f8294c22-9dcc-4280-beb2-5e4f818c7755,5946205,1,2015-03-17 06:19:53
1836,f8294c22-9dcc-4280-beb2-5e4f818c7755,5928736,2,2015-03-17 12:27:35
2221,ffab2631-dfe1-4f5e-bd9e-f763e8aede19,5840898,2,2015-03-14 18:09:52
2279,ffab2631-dfe1-4f5e-bd9e-f763e8aede19,5783397,1,2015-04-14 05:41:57

We also need at least equvalent number of records from people in HC group to start our analysis. Lets extract that group of information as well.

In [77]:
# Surf over the healthCodes try to separate the ones with no parkinson diagnoised
healthy_healthCode_list = []
for index, row in healthCode_pd.iterrows():
    temp_pf = features_df[features_df['healthCode'] == row['healthCode']]
    temp_day = temp_label = -1
    for index1, row1 in temp_pf.iterrows():
        if temp_day == -1 and temp_label == -1:
            # Set the temp day and temp label to the first record
            temp_day = row1['createdOn'].day
            temp_label = int(row1['medTimepoint'])
            continue
        if row1['createdOn'].day == temp_day:
            # Check the labels
            if (temp_label == row1['medTimepoint']) and (row1['medTimepoint']==0):
                # Add the healthCode to the list
                healthy_healthCode_list.append(row['healthCode'])
                # break the loop
                break
            else:
                # Change the temperaray records and start again
                temp_day = row1['createdOn'].day
                temp_label = int(row1['medTimepoint'])
                continue

print (f'From the all available {len(healthCode_pd)} healtCode. we can use only {len(healthy_healthCode_list)} of them as HC group who grecorded their information more than one in a day.')

From the all available 68 healtCode. we can use only 26 of them as HC group who grecorded their information more than one in a day.

Lets generate a Pandas Data frame based on the information.

In [81]:
record_list = []
for healthCode in healthy_healthCode_list:
    # Filter the data to the specific healthCode
    temp_pf = features_df[features_df['healthCode'] == healthCode]
    temp_day = temp_label = -1
    temp_record = None
    
    for index, row in temp_pf.iterrows():
        if temp_day == -1 and temp_label == -1:
            # Set the temp day and temp label to the first record
            temp_day = row['createdOn'].day
            temp_label = int(row['medTimepoint'])
            temp_record = row
            # Continue to the next record
            continue

        # Check the records belong to the same day
        if row['createdOn'].day == temp_day:
            # If yes check if the label is one or two
            if (temp_label == row['medTimepoint']) and (row['medTimepoint']==0):
                #Record both iterms as valid
                record_list.append(temp_record)
                record_list.append(row)
                # Reset the temp records
                temp_day = temp_label = -1
                temp_record = None
                # Continue to the next record            
                continue
            else:
                # Update the temp recordsR
                temp_day = row['createdOn'].day
                temp_label = int(row['medTimepoint'])
                temp_record = row
                # Continue to the next record            
                continue
                
# Convert the records to data frame
hc_pd = pd.DataFrame(data=record_list, columns=['healthCode',
                                                 'audio_audio',
                                                 'medTimepoint',
                                                 'createdOn'])
display(hc_pd)

,healthCode,audio_audio,medTimepoint,createdOn
0,e518e2ad-5a48-41a7-8143-2997cb32b678,5836266,0,2015-06-22 23:35:05
1,e518e2ad-5a48-41a7-8143-2997cb32b678,5836313,0,2015-06-22 23:55:42
16,e64e4bd3-0209-4f60-a6bf-8132239090bd,5638293,0,2015-07-28 17:31:07
17,e64e4bd3-0209-4f60-a6bf-8132239090bd,5636947,0,2015-07-28 17:31:40
395,e7f0d9ca-682d-4da8-95c6-3b8ffdca0a03,5594023,0,2015-05-10 21:36:12
...,...,...,...,...
2209,fe85bf26-dac6-4bda-af45-d89631306e83,5668659,0,2015-05-20 11:02:53
2214,ff699dbc-26d4-4dae-8c34-d0fb7b96ae21,5502922,0,2015-05-06 01:29:06
2215,ff699dbc-26d4-4dae-8c34-d0fb7b96ae21,5512874,0,2015-05-06 23:20:58
2216,ff699dbc-26d4-4dae-8c34-d0fb7b96ae21,5565168,0,2015-05-08 20:39:08
2217,ff699dbc-26d4-4dae-8c34-d0fb7b96ae21,5565506,0,2015-05-08 20:43:40

# Difference Analysis

We are going to have two different approach on analysis our extracted data. 

First is a `Diference in Difference` analysis which is a group base approach to check the status of the data for two target groups, `PWP` and `HC`. Second is going to be based on checking the differences for `PWP` group for each individual and see what makes difference between two groups of recorded data.